/**
 * //////////////
 * Master styling
 * //////////////
 */

body {
    color: #424242;
    letter-spacing:0px;
    /*font-family:STSong;*/
    font-size:145%;
}

@media (min-width: 768px) {
  .container {
    /*max-width: 1000px;*/
  }
}
/**
 * //////////////////////////
 * Font and link declarations
 * //////////////////////////
 */
span.time {
    color: #ADADAD;
    margin-bottom: 5px;
    font-size: 11px;
}

h1 {
    font-weight: normal;
    color: #696969;
    margin-bottom: 10px;
}

h2 {
    font-weight: normal;
    margin-bottom: 5px;
    color: #666666;
    border-bottom: 1px solid #E6E6E6;
}


a:hover {
    color: #A4A4A4;
    text-decoration: none;
}

/**
 * /////////////////
 * Container element
 * /////////////////
 */
div#container {
    /*width: 700px;*/
    margin: auto;
}

/**
 * //////////////////////////////////
 * Right aka content column formatting
 * //////////////////////////////////
 */

           


div.content pre {
    /*margin-left:45px;*/
    /*padding-left: 45px;*/
    background: #333333;
    /*padding: 5px;*/
    color: #FFF;
    overflow-x: auto;
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 12px;
}

div.content .highlight {
	background: #333333;
}

.icon > svg { 
    display: inline-block; 
    width: 30px; 
    height: 30px; 
    left:0px;
    /*margin-left:auto;*/
    /*margin-right:auto;*/
    vertical-align: text-top; 
}
.icon > svg path { fill: #000000; }

.social-media-list {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}


:root {
    --main-padding-left: 60px;
  /*--main-color: #06c;*/
  /*--accent-color: #006;*/
}

.post-title{
    padding-left: var(--main-padding-left);
    color:black;
    font-family: STKaiti;
    font-weight:bold;
}

.post-meta {
    padding-left: var(--main-padding-left);
    font-size: 12px; 
    color: #828282;
}


.catalogue {
    padding-left: var(--main-padding-left);
}

.blogroll {
    padding-left: var(--main-padding-left);
}

.post {
    padding-left: var(--main-padding-left);
}

.post-link { 
    padding-left: var(--main-padding-left);
    display: block; 
    color:  black;
    font-family: STKaiti;
    font-weight:bold;
}

.link2full {
    padding-left: var(--main-padding-left);
    font-size: 14px;
    color: #585858;
    font-family: STKaiti;
    font-weight:bold;
}

.location {
    color:#848484;
    font-size: 16px;
    font-family: STKaiti;
    font-weight:bold;
}

.well-my {
    /*margin-top:20px;*/
    /*margin-left:50px;*/
    background-color: #ffffff;
    border-color: #ffffff;
    /*padding-left: 50px;*/
}



footer {
    border-top: 1px solid #E6E6E6;
    height: 10px;
    margin-top: 10px;
    /*padding-top: 10px;*/
    color: #C2C2C2;
    /*font-size: 15px;*/
    bottom: 0;
    /*padding-bottom: 10px;*/
}

footer div#github {
	text-align: right;
}

a#github {
    color: #A4A4A4;
}

.navbar-black {
    background-color: #1C1C1C;
}


.navbar-default > .active{
    color: #000;
    background: #d65c14;
 }
 .navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
      color: #000;
      background: #088A85;
 }


.tags {
    font-size: 20;
    list-style-type: none;
	margin-top: 5px;
    text-align: left;
	/*margin-left: 0;*/
	/*padding: 0;*/
}
/*.likids {
    font-size: 200;
}
*/


/**
 * ///////////////////////////////////
 * Left column aka nav bar formatting
 * ///////////////////////////////////
 */
.site-asider {
        /*margin-top: 35px;*/
        font-size: 18px;
        font-family: STKaiti;
        font-weight:bold; 
        color: black;
        /*position: fixed;*/
        /*position: fixed;*/
        text-align: center;
        /*margin-left:auto;*/
        /*margin-right:auto;*/
}

.asider-contact {
    /*margin-top: 10px;*/
    text-align:center;
    color: black;
}


