<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Polarlion</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>email</li>
          <li><a href="mailto:polarlion@qq.com">polarlion@qq.com</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <div>
            <img src="images/weibo.png" height="18" width="18">
            <a href="http://weibo.com/271900404" target="_blank"><font size=2>普拉狮普拉狮</font></a>
          </div>
          <div>
            <img src="images/tweet.png" height="18" width="18">
            <a href="https://twitter.com/HeavyRainSnow" target="_blank"><font size=2>PolarLion</font></a>
          </div>
        </ul>
      </div>
    </div>

  </div>

</footer>
