<header class="site-header">
  <meta name="msvalidate.01" content="3268F9B27E2CB24FCEDDEC62894605A3" />
  <a href="{{ site.baseurl }}/"><img  src="{{ site.baseurl }}/images/logo2.png" height="150px" width="150px" /></a>
  <br />
  <!-- <ul class="social-media-list"> -->
  {% if site.weibo_username %}
  {% include icon-weibo.html %}
  {% endif %}
  {% if site.github_username %}
  {% include icon-github.html  %}
  {% endif %}
  {% if site.twitter_username %}
  {% include icon-twitter.html  %}
  {% endif %}
  <!-- </ul> -->
  <br />
  <br />
  <a class="header-contact" href="mailto:{{ site.email }}">{{ site.email }}</a>
  <br />
  <br />
  {{ site.description }}
  <br />
  <br />
  <a class="header-contact" href="{{ site.baseurl }}/">主页</a>
  <br />
  <a class="header-contact" href="{{ site.baseurl }}/catalogue">目录</a>
  <br />
  <a class="header-contact" href="{{ site.baseurl }}/blogroll">友情链接</a>
  <br />
  <br />
  <img  src="{{ site.baseurl }}/images/weixin.jpg" height="105px" width="105px" />
  <div><font size="3">关注微信公众号<br>获取博客动态&参与互动</font></div>
</header>
