
<div  id="polarnavbar" class="navbar navbar-default navbar-fixed-top navbar-black"role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button id="navbutton" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/"><font color="#E6E6E6">Polarlion</font></a>
        </div>
        <div id="nav" class="collapse navbar-collapse" >
            <ul class="nav navbar-nav">
                <li id="blog"><a href="/"><font color="#E6E6E6">博客</font></a></li>
                <li id="about"><a href="{{ site.baseurl }}/"><font color="#E6E6E6">关于</font></a></li>
                <li id="index"><a href="{{ site.baseurl }}/catalogue"><font color="#E6E6E6" >茵蒂克丝</font></a></li>
                <li id="blogroll"><a href="{{ site.baseurl }}/blogroll"><font color="#E6E6E6">友情链</font></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div> <!-- /.navbar -->

