---
layout: default
---
<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include navbar.html %}
    <br />
    <br />
    <br />
    <div class="row">
      <div class="col-sm-8 col-sm-offset-0">
        {{ content }}
      </div>
      <div class="col-sm-3 col-sm-offset-0">
        <section class="well well-my">
          {% include asider.html %}
        </section>
      </div>
    </div>
    {% include simple_footer.html %}
<script type="text/javascript" src="{{site.baseurl}}/js/jquery.js"></script>
<!-- <script type="text/javascript" src="{{site.baseurl}}/js/main.js"></script> -->

</body>

</html>
