<!DOCTYPE html>
<html>
	{% include head.html %}
    
    <body>

		<div class="row">
			<div class="col-sm-2 col-sm-offset-1">
				{% include header.html %}
				<!-- <div id="gotop"></div> -->
			</div>

			<div class="col-sm-6 col-sm-offset-4">
				
				{{ content }}
				
				<footer>
					&copy; {{ site.title }}
					{% if site.github %} 
						- <a id="github" href="{{ site.github }}">{{ site.github }}</a>
					{% endif %}
				</footer>
			</div>
		
		</div>

<!-- <script type="text/javascript" src="{{site.baseurl}}/js/jquery.js"></script> -->
<!-- <script type="text/javascript" src="{{site.baseurl}}/js/main.js"></script> -->
</body>

</html>
